<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add Funds</title>
</head>
<body>
<form action="/add-funds" method="post" class="row-g6">
    <div class="col-md-6">
        Email address
        <input type="email" name="email" class="form-control">
    </div>
    <div class="col-md-6">
        Choose currency
        <input type="text" name="currencyName" class="form-control">
    </div>
    <div class="col-md-6">
        Choose amount
        <input type="number" min="0" step="0.01" name="amount" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="Add funds">Add funds</button>
    </div>
</form>
<div class="fixed-bottom">
    <a href="/transactions">Back</a>
</div>
</body>
</html>