<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Currency exchange</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register an account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Make a transaction</a>
                </li>
                <div th:if="${currentUsername != null}">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout (<span th:text="${currentUsername}"></span>)</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div>
    <a class="btn btn-primary" href="/order" role="button">Exchange currencies</a>
    <a class="btn btn-primary" href="/add-funds" role="button">Add funds</a>
    <a class="btn btn-primary" href="/withdraw-funds" role="button">Remove funds</a>
    <a class="btn btn-primary" href="/send-funds" role="button">Send funds to other user</a>

    <br><br>

    <h4>
    Funds available for trading:
    </h4>
        <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Currency</td>
            <td>Amount</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${yourCurrencies}">
            <td th:text="${currency.funds.currency}"></td>
            <td th:text="${currency.funds.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>