<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
<form action="/wallet" method="post">
    Email address <input type="email" name="email">
    <input type="submit" value="Show wallet">
</form>
<div class="fixed-bottom">
    <a href="/transactions">Back</a>
</div>
</body>
</html>